* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #262d31;
  /* background-color: #404A51; */
  color: #cccccc;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

section {
  padding: 14% 0;
}

p {
  font-size: .9em;
  font-weight: 300;
}

h1 {
  font-weight: 100;
}

nav {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.scrolled-nav {
  background-color: #adeae2;
  /* background-color: #63e9d8; */
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.scrolled-nav ul a {
  color: #444;
}

.scrolled-nav ul a:hover {
  color: gray;
}

.nav-bar a {
  color: #cccccc;
}

.nav-bar a:hover, footer a:hover, .project-header-container h2:hover, .contact-icon:hover {
  -webkit-filter: hue-rotate(15deg) contrast(1.9) brightness(0.95) saturate(1.75);
  filter: hue-rotate(15deg) contrast(1.9) brightness(0.95) saturate(1.75);
  transition: -webkit-filter 0.25s linear, filter 0.25s linear;
}

header {
  background-image: url('../images/gray-wood-vert.jpg');
  padding-top: 100px;
}

header h1 {
  color: #63e9d8;
}

.typing-container h2, .typing-container h3 {
  color: white;
  font-weight: 400;
}

#home-bottom-title {
  color: #00b3ff;
  font-weight: 200;
}

#about-section h2 {
  color: #63e9d8;
  font-weight: 200;
}

.row {
  text-align: center;
}

.project-header-container, .project-content-container {
  padding-left: 5%;
  padding-right: 5%;
}

.project-img {
  max-width: 100%;
  margin: 12px 1%;
}

.project-img img {
  max-height: 100%;
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-brief {
  text-align: justify;
}

.project-content-container, .project-brief {
  vertical-align: top;
}

.project-brief p {
  margin: 0;
  font-weight: 300;
}

.nav-bar li {
  display: inline-block;
  font-size: 0.9em;
  margin: 0 4px;
}

#about-section {
  text-align: justify;
}

#about-section p {
  padding: 1% 5%;
  font-size: .9em;
}

#about-section h2 {
  margin-left: 5%;
}

#curly-left, #typing-window, #curly-right {
  display: inline-block;
}

#typing-window {
  width: 400px;
}

.typed-cursor {
  height: 45px;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.contact-header {
  font-size: 2em;
  margin: 100px auto;
}

.contact-header a {
  text-decoration: none;
}

.contact-icon {
  margin: 8px;
  color: #cccccc;
}

.about-logo {
  font-size: 1.3em;
}

footer {
  padding: 0;
  background-image: url('../images/gray-wood-vert.jpg');
}

#footer-content {
  font-weight: 300px;
}

#footer-content svg {
  vertical-align: middle;
}

.linkedin, .github, .email {
  vertical-align: middle;
}

#footer-content p {
  display: inline-block;
}

#footer-content h3, p {
  font-weight: 300;
  margin: 0 auto;
}

#footer-content h3 {
  color: #63e9d8;
  padding-top: 20px;
}

#footer-content a {
  text-decoration: none;
  color: white;
}

.contact-icon {
  font-size: 1.5em;
}

.project-tags {
  font-weight: 400;
}

.brief-list {
  font-size: .9em;
}

.brief-list li {
  font-weight: 300;
}

.project-title {
  color: #cccccc;
  font-weight: 200;
}

.project-title strong {
  font-weight: 400;
}

.project-header-container a {
  text-decoration: none;
}

.project-logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

#munch-minder-logo img {
  vertical-align: middle;
}

.project-logo img {
  width: 100%;
}

@media only screen and (max-width: 800px){

   #typing-window {
     width: 300px;
   }

 }


@media only screen and (min-width: 800px) {

  p {
    font-size: 1em;
  }

  .project-title, .project-tags {
    display: inline-block;
    width: 48.5%;
  }

  .project-img, .project-brief {
    display: inline-block;
    width: 48%;
  }

  .project-img {
    margin: 0 16px 0 0;
  }

  .contact-icon {
    margin: 16px;
  }

  section {
    padding: 10% 0;
  }

  .contact-header {
    font-size: 2.4em;
  }

  .nav-bar li {
    margin: 0 20px;
    font-size: 1em;
  }

  .linkedin, .github {
    display: inline-block;
  }


}
