* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
/*
  font-family: "Open Sans",
  sans-serif; */
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  /* padding: 1% 0; */
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 10% 0;
  background-color: #bbb;
  border: 1px solid black;
}

section:nth-child(even) {
  background-color: #ddd;
}

.row {
  text-align: center;
  /* height: 500px; */
}

.project-img {
  max-width: 400px;
  margin: 0 auto;
}

.project-img img {
  max-height: 100%;
  max-width: 100%;
}

.project-brief {
  text-align: justify;
}

.project-content-container, .project-brief {
  vertical-align: top;
}

.project-brief p {
  margin: 0;
}

h1 {
  font-weight: 100;
}


.nav-bar li {
  display: inline-block;
  margin: 0 20px;
}

#about {
  text-align: justify;
}

@media only screen and (min-width: 800px) {
  /* .project-header-container {
    width: 100%;
  } */

  .project-title, .project-tags {
    display: inline-block;
    width: 48%;
  }

  /* .project-title {
    width: 35%;
  }

  .project-tags {
    width: 60%;
  } */

  .project-img, .project-brief {
    display: inline-block;
    width: 50%;
  }

  .project-img {
    margin-right: 16px;
  }

}
